<!DOCTYPE html>

<html lang="es">

	<head>
		{% include 'layout/header.html' %}
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<script>
	       function onSubmit(token) {
	         document.getElementById("contact-form").submit();
	       }
	     </script>
	     <!-- Start of HubSpot Embed Code -->
		  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3470018.js"></script>
		<!-- End of HubSpot Embed Code -->
	</head>

	<body class="no-trans front-page transparent-header  ">

		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<div class="page-wrapper">
			
			{% include 'layout/menu.html' %}

			{# breadcrumb start #}
			{# ================ #}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/{{ lang_code }}/index.html">{% trans %}Inicio{% endtrans %}</a></li>
						<li class="active">{% trans %}Contacto{% endtrans %}</li>
					</ol>
				</div>
			</div>		
			{# banner start #}
			{# ================ #}
			<div class="banner default-bg" style="background-image:url('/static/images/main_HS_background.jpg'); background-position: 50% 35%;">

				{# breadcrumb end #}
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
						<br>
							<h1 class="page-title text-center">{% trans %}Hable con nosotros{% endtrans %}</h1>
							<div class="separator"></div>
							<p class="lead text-center">{% trans %}Adaptamos nuestra experiencia a sus necesidades.{% endtrans %}</p>
							<ul class="list-inline mb-20 text-center">
								<li><i class="text-default fa fa-map-marker pr-5"></i>C/ Trinidad Grund 12, 1ª Planta | 29001 | Málaga (Spain)</li>
								<li><a href="tel:+34 952020494" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-5"></i>+34 952 020 494</a></li>
								<li><a href="#mList" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>{% trans %}Correo electrónico{% endtrans %}</a></li>
							</ul>
							<div class="separator"></div>
							<ul class="social-links circle animated-effect-1 margin-clear text-center space-bottom">
								<li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/hispasec-sistemas-s-l-"><i class="fa fa-linkedin"></i></a></li>
								<li class="twitter"><a target="_blank" href="//www.twitter.com/hispasec"><i class="fa fa-twitter"></i></a></li>
								<li class="youtube"><a target="_blank" href="//www.youtube.com/user/Hispasec/videos"><i class="fa fa-youtube-play"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			{# banner end #}
			<a name="mails_list" id="mList"></a>
			{# main-container start #}
			{# ================ #}
			<section class="main-container">

				<div class="container">
					<div class="row">

						{# main start #}
						{# ================ #}
						<div class="main col-md-12 space-bottom">
							<h2 class="title">{% trans %}¿Le contactamos nosotros?{% endtrans %}</h2>
							<div class="row">
								<div class="col-md-6">
									<p>{% trans %}Déjenos un mensaje. Nosotros nos ocuparemos de llamarle.{% endtrans %}</p>
									<div class="alert alert-success hidden" id="MessageSent">{% trans %}Mensaje recibido. En breve contactaremos con usted.{% endtrans %}</div>
									<div class="alert alert-danger hidden" id="MessageNotSent">{% trans %}Oops! Perdón. Ha ocurrido un error. Pruebe otra vez, contacte con nosotros en info @ hispasec.com o telefónicamente{% endtrans %}</div>
									<div class="contact-form">
										<form id="contact-form" class="margin-clear" role="form" method="POST" action="javascript:void(0)">
											<div class="form-group has-feedback">
												<label for="name">{% trans %}Nombre{% endtrans %}*</label>
												<input type="text" class="form-control" id="name" name="name" placeholder="">
												<i class="fa fa-user form-control-feedback"></i>
											</div>
											<div class="form-group has-feedback">
												<label for="email">{% trans %}Correo electrónico{% endtrans %}*</label>
												<input type="email" class="form-control" id="email" name="email" placeholder="">
												<i class="fa fa-envelope form-control-feedback"></i>
												<input style="display:none" type="text" name="antispam" id="antispam" class="antispam" />
											</div>
											<div class="form-group has-feedback">
												<label for="phone">{% trans %}Teléfono de contacto{% endtrans %}*</label>
												<input type="tel" class="form-control" id="phone" name="phone" placeholder="">
												<i class="fa fa-phone form-control-feedback"></i>
											</div>
											<div class="form-group has-feedback">
												<label for="subject">{% trans %}Servicio interesado{% endtrans %}*</label>
												<select id="service" name="service" class="form-control">
													<option>{% trans %}Antifraude{% endtrans %}</option>
													<option>{% trans %}Auditorías{% endtrans %}</option>
													<option>SANA</option>
													<option>Koodous</option>
													<option>{% trans %}Formación{% endtrans %}</option>
													<option>IOCFlow</option>
													<option>MAIA</option>
													<option>{% trans %}Otros{% endtrans %}</option>
												</select>
											</div>
											<div class="form-group has-feedback">
												<label for="message">{% trans %}Mensaje{% endtrans %}*</label>
												<textarea class="form-control" rows="6" id="message" name="message" placeholder=""></textarea>
												<i class="fa fa-pencil form-control-feedback"></i>
											</div>
											<div class="form-group">
												<label>
													<input id="more-info" name="more-info" type="checkbox" value="more-info" checked>
													{% trans %}Quiero recibir información sobre nuevos productos y ofertas{% endtrans %}
												</label>
											</div>
											<div id="recaptcha" class="g-recaptcha" data-sitekey="6LcYPiEUAAAAAA1DdfdAnuNXb5Iqq0msxMiMRFpw"></div>
											<input type="submit" value="Enviar" class="submit-button btn btn-default">
										</form>
										<script type="text/javascript">
											/* Analytics send events */
											(function(){
												form = document.getElementById('contact-form');
												var selectOption = document.getElementById('service');
												form.addEventListener('submit', function(event) {
												  event.preventDefault();
												  setTimeout(submitForm, 1000);
												  var formSubmitted = false;
												  function submitForm() {
													if (!formSubmitted) {
													  formSubmitted = true;
													  form.submit();
													}
												  }
												  ga('send', 'event', 'formulario', 'contacto', selectOption.options[selectOption.selectedIndex].text, {
													hitCallback: submitForm
												  });
												});
											}());
										</script>
									</div>
								</div>

								{# sidebar start #}
								{# ================ #}
								<aside class="col-md-5 col-lg-offset-1">
									<div class="sidebar">
										<div class="side vertical-divider-left">
											<img id="logo_img_contact" src="/static/images/hs_logo.png" alt="HISPASEC">
											<br>{% trans %}Correos específicos de cada departamento:{% endtrans %}	
											<div class="separator-2 mt-20"></div>
											<ul class="list">
												<li><i class="fa fa-envelope pr-10"></i>{% trans %}Información general:{% endtrans %} <a class="mailtojs" data-email="info"></a></li>
												<li><i class="fa fa-envelope pr-10"></i>{% trans %}Laboratorio Técnico:{% endtrans %} <a class="mailtojs" data-email="laboratorio"></a></li>
												<li><i class="fa fa-envelope pr-10"></i>{% trans %}Comercial:{% endtrans %} <a class="mailtojs"  data-email="comercial"></a></li>
												<li><i class="fa fa-envelope pr-10"></i>{% trans %}Medios de comunicación:{% endtrans %} <a class="mailtojs" data-email="medios"></a></li>
												<li><i class="fa fa-envelope pr-10"></i>{% trans %}Recursos Humanos:{% endtrans %} <a class="mailtojs" data-email="empleo"></a></li>
												<li><i class="fa fa-envelope pr-10"></i>Webmaster: <a class="mailtojs" data-email="webmaster"></a></li>
											</ul>
											<script>
												(function(){
													document.querySelectorAll("a.mailtojs").forEach(function(element){
														var aux = element.getAttribute("data-email");
														element.innerHTML = aux + "@" + "hispasec.com";
														element.setAttribute('href', 'mailto:'+ element.innerHTML);
													});
												})();
											</script>
											<div class="separator-2 mt-20 "></div>
											<a class="btn btn-
											default collapsed map-show btn-animated" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">{% trans %}Ver ubicación{% endtrans %}<i class="fa fa-plus"></i></a>
										</div>
									</div>
								</aside>
								{# sidebar end #}
								
							</div>
							
						</div>
						{# main end #}
					</div>
				</div>
			</section>
			{# main-container end #}

			{# section start #}
			{# ================ #}
			<a name="map_section" id="mapSection"></a>
			<section id="collapseMap">
				<div id="map-canvas"></div>
			</section>
			{# section end #}


		{% include 'layout/footer.html' %}

		{% include 'layout/libs.html' %}

			

		{# Google Maps javascript #}
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;signed_in=true"></script>
		<script type="text/javascript" src="/static/js/google.map.config.js"></script>

	</body>
</html>
